!!! XML
%rss{ :version => "2.0" }
  %channel
    %title= @comic.name
    %link= @comic.link
    -#%description= What your site is all about.
    %language en-us
    -for date in (Date.today-30 .. Date.today)
      -url = image_url( @comic, date )
      %item
        %title= date.strftime '%a, %b %d %Y'
        %description
          %img{:src => url}
        %author= @comic.link
        %pubDate= date.strftime("%a, %d %b %Y %H:%M:%S %z" )
        %link= image_url( @comic, date, 'html' )
        %guid= url

